$display_font-stack: 'bebas_neuebold', 'arial', 'sans-serif';
$body_font-stack: 'source_code_prolight', consolas, mono-spaced;

$breakpoint-1: 40em;

$display-color: hsl(358, 85%, 52%);
$display-color-glow: hsla(358, 85%, 51%, 0.6);
$body-color: #fff;
$homebox-color: hsl(218, 75%, 17%);
$nav-textshadow: hsla(180, 100%, 89%, 0.6);
$nav-textcolor: hsl(220, 100%, 6%);

$bgcolor-light: hsl(214, 53%, 40%);
